/* stylelint-disable */
/*! http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  // font-size: 100%;
  // font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, picture, picture img {
  display: block;
}

// fixes screen flicker with samsung galaxy tab
// * {
//   -webkit-backface-visibility: hidden;
// }

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Users who have set prefers-reduced-motion in their OS settings shouldn't
  have transitions or animations
*/
@media (prefers-reduced-motion: reduce) {
  * {
    &,
    &:before,
    &:after {
      animation: none !important;
      transition: none !important;
    }
  }
}
/* stylelint-enable */

img {
  max-width: 100%;
  color: transparent;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  max-width: 1200px;
  margin: 20px auto;
  gap: 20px;

  @media only screen and (min-width: 600px) {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
}

.shift-slider-wrapper {
  position: relative;
}

.slider {
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media only screen and (min-width: 600px) {

  }
}

.slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  transition: transform 0.5s;
  text-align: left;
  width: 100%;
  transform: scale(1);
  transition: transform 500ms;
}

.arrow {
  position: absolute;
  padding: 10px;
}

.left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.slide-dots {
  background: rgba(0,0,0,0.6);
  padding: .5em;
  border-radius: 1em;
  position: absolute !important;
  right: auto;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1em;
  list-style: none;
  display: block;
  text-align: right;
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  grid-template-rows: 1;

}

.slide-dot {
  border-radius: 50%;
  border: 1px solid #fff;
  width: 10px;
  height: 10px;

  &.active {
    background: #fff;
  }
}